# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\AWhip\Documents\School_Files\Classes\WEB\WEB_2000s\WEB_2890\Portfolio\Whipple_Portfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
